@use "@angular/material" as mat;

.todo-app {
  width: 90%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  gap: 20px; /* Térköz a két oszlop között */
}

.create {
  flex: 6; /* Bal oldali oszlop méretezése */
  max-width: 400px;
}

.list {
  width: 100%;
  flex: 6; /* Jobb oldali oszlop méretezése */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.list-card {
  margin-top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list-card-content {
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: grey;
}
