<div class="todo-app">
    <h1>ToDo Lista</h1>
    <div>
        <mat-form-field>
            <mat-label>Új feladat</mat-label>
            <input matInput [(ngModel)]="newTaskTitle" />
            <mat-label>Szint</mat-label>
            <mat-select [(ngModel)]="selectedOption">
                <mat-option *ngFor="let level of levels" [value]="level.id">
                    {{ level.name }}
                </mat-option>
            </mat-select>
            <button (click)="addTask()" mat-raised-button color="accent">Hozzáadás</button>
        </mat-form-field>

    </div>
    <ul>
        <li *ngFor="let task of tasks">
            <label>
                <input type="checkbox" [(ngModel)]="task.completed" (change)="toggleTaskCompletion(task)" />
                <span [class.completed]="task.completed">{{ task.title }}</span>
            </label>
            <button (click)="deleteTask(task.id)">Törlés</button>
        </li>
    </ul>
</div>